.wrapper {
    .header {
        background-color: #c2f5aa;
        border-radius: 6px;
        margin-bottom: 15px;
        .img-para {
            align-items: flex-end;
            display: flex;
            height: 100%;
            justify-content: center;
            img {
                height: auto;
                max-width: 60%;
            }
        }
        .text {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            text-align: center;
            h3 {
                font-family: 'Roboto', sans-serif;
                line-height: 45px;
            }
        }
    }

    .tiles {
        margin: 0 0 15px;
        .img-box {
            position: relative;
            .buyNow {
                align-items: center;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 5px;
                top: 5px;
                .buy-now {
                    background-color: #0b8d37;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 20px;
                    height: 50px;
                    line-height: 33px;
                    margin-bottom: 3px;
                    width: 130px;
                }
                .weight {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 3px 8px;
                }
            }
            .name {
                background-color: rgba(0, 0, 0, 0.5);
                bottom: 20px;
                color: #fff;
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                left: 8px;
                padding: 3px 8px;
                position: absolute;
                text-transform: uppercase;
            }
            img {
                height: 200px;
                max-width: 100%;
                width: 100%;
            }
        }
        .text {
            background-color: #fff;
            box-shadow: 0 0 5px 0 #a9a9a9;
            padding: 15px;
            h5 {
                font-size: 17px;
                margin-bottom: 15px;
                &.heading {
                    color: #d22d65;
                }
                &.count {
                    color: #29b457;
                }
            }
            p {
                font-size: 16px;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .wrapper .header .img-para img {
        margin-bottom: 10px;
        max-width: 25%;
    }
    .col-lg-6 {
        padding: 0 15px !important;
    }
}

@media only screen and (max-width: 767px) {
    .wrapper .header .text {
        padding: 5px 15px 15px;
    }
}
