<div class="wrapper">
    <div class="container">
        <header class="header">
            <div class="row">
                <div class="col-lg-4">
                    <p class="img-para"><img alt="" class="" src="../../assets/images/header-img.png" /></p>
                </div>
                <div class="col-lg-8">
                    <div class="text">
                        <h3>Our environmental projects are providing<br/>many environmental benefits around the world.</h3>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-2">
                <div class="tiles">
                    <div class="img-box">
                        <div class="buyNow">
                            <a href="#" class="btn buy-now">Buy Now</a>
                            <span class="weight">$7.50/ton</span>
                        </div>
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Kariba redd+ - Zimbabwe</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Reduced Emmission from Deforestation and Degradation</h5>
                        <h5 class="count">957,842 lbs. offset</h5>
                        <p>Protects forests and wildlife on the southern shores of lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-2">
                <div class="tiles">
                    <div class="img-box">
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Arcata Sunnybrae tract - USA</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Improved Forest Management</h5>
                        <h5 class="count">710,093 lbs. offset</h5>
                        <p>Preservation of large tracts of coastal Redwood and Douglas fir that were slated for harvesting by the tinder company.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-2">
                <div class="tiles">
                    <div class="img-box">
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Wolf Creek Landfill - USA</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Landfill Methane Gas Capture</h5>
                        <h5 class="count">2,005,214 lbs. offset</h5>
                        <p>Landfill methane gas-to-energy facility that provides significant environmantal benefits to the surrounding area.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-2">
                <div class="tiles">
                    <div class="img-box">
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Terrapass mixed portfolio - Mixed</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Mixed</h5>
                        <h5 class="count">214,967 lbs. offset</h5>
                        <p>Greenhouse gas reductions made a variety of projects, including: reforestation, methane capture, and renewable energy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-2">
                <div class="tiles">
                    <div class="img-box">
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Gaston county landfill - USA</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Landfill Methane Gas Capture</h5>
                        <h5 class="count">721,663 lbs. offset</h5>
                        <p>Voluntary collection and destruction of landfill mathane in two open flares and three internal combustion engine generator.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-2">
                <div class="tiles">
                    <div class="img-box">
                        <div class="buyNow">
                            <a href="#" class="btn buy-now">Buy Now</a>
                            <span class="weight">$7.50/ton</span>
                        </div>
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Myamyn conservation - Australia</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Reforestation and Hydropower</h5>
                        <h5 class="count">995,908 lbs. offset</h5>
                        <p>Supporting biodiversity and reforestation in Victoria, Australia; along with carbon reduction from a hydropower plant in Vietnam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-2">
                <div class="tiles">
                    <div class="img-box">
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Natural pact land art - Costa Rica</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Reforestation through Land Art</h5>
                        <h5 class="count">327 lbs. offset</h5>
                        <p>Unique "land art" reforestation and conservation of forests that extend an important biological corridor for many endangered species.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-2">
                <div class="tiles">
                    <div class="img-box">
                        <div class="buyNow">
                            <a href="#" class="btn buy-now">Buy Now</a>
                            <span class="weight">$22.50/ton</span>
                        </div>
                        <img alt="" class="" src="../../assets/images/tile-image.jpg" />
                        <span class="name">Nature lab urban forestry - Canada</span>
                    </div>
                    <div class="text">
                        <h5 class="heading">Urban Reforestation</h5>
                        <h5 class="count">13,033 lbs. offset</h5>
                        <p>Rehabilitating degraded urban areas through reforestation, adding significant greenary and restoring biodiversity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
